* {
    margin: 0px;
    font-family: Roboto;
}

p {
    margin: 0px;
}

.container {
    background-color: #fff;        
}

/* Header */
.header {        
    padding: 0px 165px;    
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img-logo {
    height: 50px;
}

.header__icon-dowload {     
    background-color: rgb(211,244,219);    
    margin-right: 16px;
    padding: 14px 16px;
    border-radius: 50%;
    width: 30px;
    height: 30px; 
}

/* Footer */
.footer {
    padding: 40px 165px;    
}
.footer-top {
    border-bottom: 1px solid rgba(173, 182, 176, .26);
    padding: 0px 0px 30px;
    display: flex;
    justify-content: space-between;
}
.footer-bottom-text {
    font-size: 14px;
    padding-top: 40px;
    text-align: center;
    color: rgb(100, 110, 103);
}
.footer-top-logo {
    height: 40px;
}
.footer-top-right {
    width: 690px;
    display: flex;        
    justify-content: space-between;
}
.footer-top-right-block {
    display: flex;
    flex-direction: column;
}
.footer-top-right-block-title {
    padding-bottom: 30px;
    color: rgb(100, 110, 103);
}
.footer-top-right-block-text {
    text-decoration: none;
    padding-bottom: 30px;
}

/* Mobile */
@media screen and (max-width: 500px) {
    /* Header */
    .header {
        padding: 0px;
        padding-left: 10px;
    }
    /* Footer */
    .footer {
        padding: 40px 0px;
    }
    .footer-top {
        flex-direction: column;        
    }
    .footer-top-logo {
        width: 30%;
        margin: auto;
        padding-bottom: 20px;
    }
    .footer-top-right {
        width: 100%;
        justify-content: space-around;
    }
}