* {
    margin: 0px;
    font-family: Roboto;
}

p {
    margin: 0px;
}

.container {
    background-color: #fff;        
}

/* Header */
.header {        
    padding: 0px 165px;    
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img-logo {
    height: 50px;
}

.header__icon-dowload {     
    background-color: rgb(211,244,219);    
    margin-right: 16px;
    padding: 14px 16px;
    border-radius: 50%;
    width: 30px;
    height: 30px; 
}

/* Introduce */
.introduce {
    background-color: rgb(20, 201, 72);
    height: 445px;    
}
.introduce__title {
    width: 920px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin: auto;
    padding: 80px 0px 20px;    
}
.introduce__date {
    color: #fff;
    text-align: center;
}

/* Content */
.content {
    width: 920px;
    margin: auto;
}
.content__img {
    width: 920px;
    height: 690px;
    position: relative;
    top: -90px;    
}
.content-wrapper {
    display: flex;
}
.content-social {
    display: flex;
    flex-direction: column;
}
.content-social-icon {
    width: 30px;
    margin-bottom: 5px;
}
.content-paragraph {
    padding: 0px 65px;
}
.content-panigation {
    display: flex;
    justify-content: space-between;
    margin: 70px 0px 80px;
}
.content-panigation-text {
    color: rgb(20, 201, 72);
}

/* Article */
.article {
    background-color: rgb(246, 247, 247);
}
.article-title {
    font-size: 32px;
    padding: 80px 0px 40px;
    text-align: center;
}
.article-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 165px 40px;    
}
.article-content-item {
    max-width: 345px;
    flex-basis: 30%;
    margin-bottom: 40px;
}
.article-content-item-title {
    padding: 15px 0px;
    font-size: 18px;
    font-weight: 500;
}
.article-content-item-date {
    font-size: 14px;
    color: rgb(173, 182, 176);
}

/* Footer */
.footer {
    padding: 40px 165px;    
}
.footer-top {
    border-bottom: 1px solid rgba(173, 182, 176, .26);
    padding: 0px 0px 30px;
    display: flex;
    justify-content: space-between;
}
.footer-bottom-text {
    font-size: 14px;
    padding-top: 40px;
    text-align: center;
    color: rgb(100, 110, 103);
}
.footer-top-logo {
    height: 40px;
}
.footer-top-right {
    width: 690px;
    display: flex;        
    justify-content: space-between;
}
.footer-top-right-block {
    display: flex;
    flex-direction: column;
}
.footer-top-right-block-title {
    padding-bottom: 30px;
    color: rgb(100, 110, 103);
}
.footer-top-right-block-text {
    text-decoration: none;
    padding-bottom: 30px;
}

/* Mobile */
@media screen and (max-width: 550px) {
    /* Header */
    .header {
        padding: 0px;
        padding-left: 10px;
    }
    /* Introduce */
    .introduce__title {
        width: 280px;
        font-size: 26px;
    }
    /* Content */
    .content {
        width: 300px;
        margin: auto;
    }
    .content__img {
        width: 300px;
        height: 260px;
        position: relative;
        top: -60px;    
    }
    .content-wrapper {
        flex-direction: column;
        text-align: center;
    }
    .content-social {        
        flex-direction: row;
        margin-bottom: 20px;        
        margin: auto;
    }
    .content-social-icon {
        margin-right: 15px;
    }
    .content-paragraph {
        padding: 0px;
    }
    /* Article */
    .article-content {                
        padding: 40px 0px;
    }
    .article-title {
        padding: 30px 0px 20px;
    }    
    .article-content-item {
        margin: auto;
        width: 300px;
        margin-bottom: 40px;
    }
    .article-content-item-img {
        width: 300px;
    }
    /* Footer */
    .footer {
        padding: 40px 0px;
    }
    .footer-top {
        flex-direction: column;        
    }
    .footer-top-logo {
        width: 30%;
        margin: auto;
        padding-bottom: 20px;
    }
    .footer-top-right {
        width: 100%;
        justify-content: space-around;
    }
}

/* Tablet */
@media screen and (max-width: 1024px) and (min-width: 600px) {
    /* Header */
    .header {
        padding: 0 30px;
    }
    /* Introduce */
    .introduce {
        height: 380px;
    }
    .introduce__title {
        width: 750px;
        font-size: 26px;
    }
    /* Content */
    .content {
        width: 500px;
        margin: auto;
    }
    .content__img {
        width: 500px;
        height: 420px;
        position: relative;
        top: -90px;    
    }
    .content-wrapper {
        flex-direction: column;
        text-align: center;
    }
    .content-social {        
        flex-direction: row;
        margin-bottom: 30px;        
        margin: auto;
    }
    .content-social-icon {
        margin-right: 15px;
    }
    .content-paragraph {
        padding: 0px;
    }
    /* Article */
    .article-content {                
        padding: 40px 0px;
    }
    .article-title {
        padding: 30px 0px 20px;
    }    
    /* Footer */
    .footer {
        padding: 40px 30px;
    }
    .footer-top-right {
        width: 70%;
    }
}
