* {
    margin: 0px;
    font-family: Roboto;
}

p {
    margin: 0px;
}

.container {
    background-color: #fff;        
}

/* Header */
.header {        
    padding: 0px 165px;    
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img-logo {
    height: 50px;
}

.header__icon-dowload {     
    background-color: rgb(211,244,219);    
    margin-right: 16px;
    padding: 14px 16px;
    border-radius: 50%;
    width: 30px;
    height: 30px; 
}

/* Article */
.article {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: rgb(20, 201, 72);
}

.article-text {
    font-size: 40px;
    color: #fff;
}

/* Content */
.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 165px 40px;
    border-bottom: 1px solid rgba(173, 182, 176, .26);
}
.content-item {
    max-width: 345px;
    flex-basis: 30%;
    margin-bottom: 40px;
}
.content-item-title {
    padding: 15px 0px;
    font-size: 18px;
    font-weight: 500;
}
.content-item-date {
    font-size: 14px;
    color: rgb(173, 182, 176);
}

/* Footer */
.footer {
    padding: 40px 165px;    
}
.footer-top {
    border-bottom: 1px solid rgba(173, 182, 176, .26);
    padding: 0px 0px 30px;
    display: flex;
    justify-content: space-between;
}
.footer-bottom-text {
    font-size: 14px;
    padding-top: 40px;
    text-align: center;
    color: rgb(100, 110, 103);
}
.footer-top-logo {
    height: 40px;
}
.footer-top-right {
    width: 690px;
    display: flex;        
    justify-content: space-between;
}
.footer-top-right-block {
    display: flex;
    flex-direction: column;
}
.footer-top-right-block-title {
    padding-bottom: 30px;
    color: rgb(100, 110, 103);
}
.footer-top-right-block-text {
    text-decoration: none;
    padding-bottom: 30px;
}

/* Mobile */
@media screen and (max-width: 500px) {
    /* Header */
    .header {
        padding: 0px;
        padding-left: 10px;
    }
    /* Content */
    .content {                
        padding: 40px 0px;
    }
    .content-item {
        margin: auto;
        margin-bottom: 40px;
    }
    /* Footer */
    .footer {
        padding: 40px 0px;
    }
    .footer-top {
        flex-direction: column;        
    }
    .footer-top-logo {
        width: 30%;
        margin: auto;
        padding-bottom: 20px;
    }
    .footer-top-right {
        width: 100%;
        justify-content: space-around;
    }
}

/* Mobile small */
@media screen and (max-width: 345px) {
    /* Content */    
    .content {                
        padding: 40px 0px;
    }
    .content-item {
        margin: auto;
        margin-bottom: 40px;
        width: 300px;        
    }
    .content-item-img {
        width: 300px;
    }
}

/* Tablet */
@media screen and (max-width: 900px) and (min-width: 600px) {
    /* Header */
    .header {
        padding: 0 30px;
    }
    /* Content */
    .content {
        padding: 40px 30px 0px;
    }
    /* Footer */
    .footer {
        padding: 40px 30px;
    }
    .footer-top-right {
        width: 70%;
    }
}

/* Ipad pro */
@media screen and (max-width: 1024px) {
    /* Header */
    .header {
        padding: 0 100px;
    }
    /* Content */
    .content {
        padding: 80px 100px 40px;
    }
    /* Footer */
    .footer {
        padding: 40px 100px;
    }
    .footer-top-right {
        width: 70%;
    }
}